<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tài khoản - Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/assets/dist/css/adminx.css" media="screen" />
</head>

<body>
    <div class="adminx-container">
        <!-- Header -->
        <%- include('./partials/header'); %>
        <!-- Menu -->
        <%- include('./partials/menu'); %>
        
        <!-- adminx-content-aside -->
        <div class="adminx-content">
            <div class="adminx-main-content">
                <div class="container-fluid">
                    <!-- BreadCrumb -->
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb adminx-page-breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý tài khoản</li>
                        </ol>
                    </nav>
                    <div class="pb-3">
                        <h4>Danh sách tài khoản</h4>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-sm btn-outline-success btn-add">
                                <i class="oi oi-plus"></i> Thêm tài khoản
                            </button>
                        </div>
                    </div>

                    <!-- Danh sách tài khoản -->
                    <div class="row">
                        <div class="col">
                            <div class="card mb-grid">
                                <div class="table-responsive-md">
                                    <table class="table table-actions table-striped table-hover mb-0" data-table>
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                <label class="custom-control custom-checkbox m-0 p-0">
                                                    <input type="checkbox" class="custom-control-input table-select-all">
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                                </th>
                                                <th scope="col">STT</th>
                                                <th scope="col">Họ và Tên</th>
                                                <th scope="col">Địa chỉ Email</th>
                                                <th scope="col">Hình ảnh</th>
                                                <th scope="col">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% result.forEach((data, index) => { %>
                                                <tr id="<%= data.id %>">
                                                    <td class="text-center"><input type="checkbox" name="<%= data._id%>"></td>
                                                    <td><%= ++index%></td>
                                                    <td><%= data.name%></td>
                                                    <td><%= data.email%></td>
                                                    <td><img src="<%= data.image%>" alt="Avata"></td>
                                                    <td>
                                                        <button class="btn btn-sm btn-outline-primary btn-edit" data-id="<%= data.id %>" 
                                                            data-name="<%= data.name %>" data-email="<%= data.email %>">
                                                            <i class="oi oi-brush"></i> Chỉnh sửa
                                                        </button>
                                                        <button class="btn btn-sm btn-outline-danger btn-delete"
                                                            data-id="<%= data.id %>" data-email="<%= data.email %>">
                                                            <i class="oi oi-trash"></i> Xóa
                                                        </button>
                                                    </td>
                                                </tr>
                                            <% })%>
                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Confirm delete -->
                    <div id="confirm-delete" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Xóa người dùng</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    Bạn có chắc rằng muốn xóa <strong id="info-account"></strong>?
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button id="delete-account" type="button" class="btn btn-sm btn-danger">Xóa</button>
                                    <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Confirm delete -->

                    <!-- Confirm edit -->
                    <div id="confirm-edit" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editAccountLabel">CHỈNH SỬA TÀI KHOẢN</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="formEdit" action="/admin/accounts" novalidate class="mt-3" method="put">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" id="id" name="id">
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-form-label">Họ và Tên:</label>
                                            <input type="text" class="form-control" id="name" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-form-label">Địa chỉ Email:</label>
                                            <input type="email" class="form-control" id="email" name="email">
                                        </div>
                                        <div id="error"></div>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button id="edit-account" type="button" class="btn btn-sm btn-primary">Chỉnh sửa</button>
                                    <button type="button" class="btn btn-sm btn-secondary"
                                        data-dismiss="modal">Thoát</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Confirm edit -->

                    <!-- Confirm add -->
                    <div id="confirm-add" class="modal fade">
                        <div class="modal-dialog" role="document">
                        <div class="modal-dialog">
                            <form id="formAdd" action="/admin/accounts" method="post">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="createAccountLabel">TẠO TÀI KHOẢN</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label">Họ và Tên:</label>
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-form-label">Địa chỉ Email:</label>
                                            <input type="email" class="form-control" id="email">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-secondary"
                                            data-dismiss="modal">Thoát</button>
                                        <button id="add-account" type="button" class="btn btn-sm btn-success">Thêm tài khoản</button>
                                    </div>  
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Confirm add -->
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="/assets/dist/js/vendor.js"></script>
    <script src="/assets/dist/js/adminx.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('[data-table]').DataTable({
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    { "orderable": false }
                ]
            });
        });

        $('.btn-delete').click(e => {
            const id = e.target.dataset.id;
            const email = e.target.dataset.email;
            $('#info-account').html(email);
            $('#confirm-delete #delete-account').attr('data-id', id);
            $('#confirm-delete').modal('show');
        });

        $('#delete-account').click(e => {
            let id = e.target.dataset.id;
            fetch('/admin/accounts/' + id, { method: 'delete' })
                .then(res => res.json())
                .then(json => {
                    if (json.code === 0) {
                        $(`tr#${id}`).remove();
                        $('#confirm-delete').modal('hide');
                    } else {
                        console.log(json.message);
                    }
                    console.log(json);
                })
                .catch((err) => console.log(err));
        });
    
        $('.btn-edit').click(function (e) {
            const id = e.target.dataset.id;
            const name = e.target.dataset.name;
            const email = e.target.dataset.email;

            $('#id').val(id)
            $('#name').val(name)
            $('#email').val(email)
            $("#confirm-edit #edit-account").attr("data-id", id);
            $('#confirm-edit').modal('show');
        })

        $("#edit-account").click(function (e) {
        let inputs = document.getElementById("formEdit").elements;
        let id = inputs["id"].value;
        let name = inputs["name"].value;
        let email = inputs["email"].value;

        if (!name) {
            $(`#error`).text("Vui lòng nhập tên người dùng!"); 
            $(`#error`).addClass("alert alert-danger");        
        } else if (!email) {
            $(`#error`).text("Vui lòng nhập địa chỉ email!"); 
            $(`#error`).addClass("alert alert-danger");
        } else {
            fetch("/admin/accounts/" + id, {
                method: "put",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({ name, email })
                })
            .then(res => res.json())
            .then((json) => {
                if (json.code === 0) {
                    $(`#${id} td:nth-child(3)`).text(name)
                    $(`#${id} td:nth-child(4)`).text(email)
                    $('#confirm-edit').modal('hide');
                }
            })
            .catch((err) => console.log(err));
        }
    });
    
        $('.btn-add').click(e => {
            $('#confirm-add').modal('show');
        });

        $('#add-account').click(e => {
            let inputs = document.getElementById("formAdd").elements;
            let name = inputs["name"].value;
            let email = inputs["email"].value;

            console.log(name, email);
            fetch("/admin/accounts", {
                method: "post",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({ name, email })
                })
            .then(res => res.json())
            .then((json) => {
                if (json.code === 0) {
                    location.reload();
                    $('#confirm-add').modal('hide');
                }
            })
            .catch((err) => console.log(err));
        });
    </script>
</body>

</html>